@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
$roboto: 'Roboto', sans-serif;
$arial: 'Arial', sans-serif;

$light: #f5f5f5;
$light-grey: #eee;
$grey: #999;
$dark-grey: #666;
$blue: rgb(118, 162, 243);
$light-blue: rgb(236, 240, 247);

* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body {
    max-width: 1600px;
    margin: 0px auto;
    font: 0.9em $roboto;
    color: $dark-grey;    
}
button, input {
    border: none;
    background-color: transparent;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
i {
    padding-right: 10px;
    color: $dark-grey;
    font-size: 1.3em;
}
h5 {
    margin: 15px 0;
}
p {
    font: 1.25em $roboto;
    height: 45px;
    line-height: 45px;
    margin: 0 10px;
}
button {
    cursor: pointer;
    font:  500 1em $roboto;
}
svg {
    margin: 10px 20px;
}
.main {
    height: 100%;
}

.header {
    padding: 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    &-left {
        display: flex;
    }
}
.line {
    border-bottom: 1px solid $light-grey;
}
.logo {
    height: 44px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font: 1.4em $roboto;
    color: $dark-grey;
    &-img {
        width: 44px;
        height: 40px;
        margin: 0px 10px;
    }
    &-span {
        height: 24px;        
    }
}
.search {
    max-width: 722px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light;
    border-radius: 5px;
    margin: 0px 120px;
    &-btn {
        width: 50px;
        height: 46px;
    }    
    &-input {
        width: 587px;
        height: 46px;
        font: 1.2em $roboto;
    }    
}
.nav {
    display: flex;
    align-items: center;
}

.none {
    display: none;
}

.nav-tools {
    margin: 0px 50px;
    display: flex;
    width: 80px;
    justify-content: space-between;    
}

.main-container {
    display: flex;
}
.aside {
    width: 248px;
    padding: 10px;
    &-btn {
        width: 150px;
        height: 45px;
        border: 1px solid $light-grey;
        border-radius: 30px;
        box-shadow: 0px 2px  0px 0 rgba(0, 0, 0, 0.253);
        position: relative;
    }
    &__list {
        padding-top: 20px; 
    }
    &__item {
        font-size: 0.9em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 12px 0px;
    }
    a {
        display: block;
        width: 180px;
        text-align: left;
    }
}
.content {
    // width: calc(100% - 248px);
    width: 100%;
}

.back {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal {
    min-width: 350px;    
    min-height: 200px;  
    z-index: 20;
    position: absolute;
    left: calc(50% - 175px);
    top: 30%;
    padding: 30px;
}
.form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    &__input {
        width: inherit;
        background-color: $light-grey;
        padding: 10px;
        margin: 20px;
        font: 1em $roboto;
        color: $grey;
        outline: none;
        border-radius: 5px;        
    }
    &__textarea {
        width: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    textarea {
        border: none;
        background: #ffffff;
    } 
} 

.create {
    width: 50%;
    left: 25%;
    top: 10%;
}

.radio {
    font: 0.9em $roboto;
    &-wrap {
        width: 200px;
        display: flex;
        justify-content: space-around;
        margin: 25px 0;
    }
    &-input {
        margin: 5px;
    }
    &-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }   
}

.Card {
    width: 200px;
    height: 50px; 
    margin: 10px;
    float: left;
    &:hover {
        background-color: $light;
    }
    &:active {
        border-color: $blue;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    i {
        color: $grey;
    }
}

.file {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
        width: 180px;
        border-top: 1px solid $light-grey;
        padding: 20px 0;
        text-align: center;
    }
    i {
        font-size: 4.5em;
        margin: 20px;
    }
}
.active {
    color: $blue;
    border: 1px solid $blue;
}
.home {
    display: flex;
    flex-direction: column;
}
.inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__textarea{
        width: 80%;
        padding: 10px;
        margin: 10px;
    }
}




